---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Thoughts on medicine, machine mearning and society",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm Pallavi and I'm from Shimla, India.   
		</p>
		<p>
			Born and raised in the mountains, I am used to their calm. I am a process-oriented person and enjoy brainstorming sessions that leave me intellectually stimulated. I am mostly chasing meaningful interactions with people from all walks of life.  
		</p>
		<p>
			By profession, I practice medicine in the public health system. Outside of work, I spend much of my time reading, learning, and building often at the intersection of medicine and machine learning.
		</p>
		<p>
			This website is where I collect thoughts, ideas and essays that stay with me longer than a passing conversation. Some pieces here are carefully developed essays. Others are simply thoughts quietly evolving.  
		</p>
		<p>
			Thank you for stopping by. :)
		</p>
	</div>
</PageLayout>
